.list {
  width: 360px;
  height: 360px;
  position: relative;
}

.item {
  display: inline-block;
  margin: 10px;
  position: absolute;
}

.subItem {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 1s ease;
}