.area {
  width: 600px;
  height: 600px;
  background-color: #eee;
  font-size: 0;
  position: relative;
}

.item {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.12);
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}