.area {
  width: 600px;
  height: 600px;
  background-color: #eee;
  text-align: center;
  font-size: 0;
  position: relative;
}

.item {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 0;
  top: 0;
}

.itemWrapper {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 400px;
}